.icon-arrow {
  position: relative;
  display: block;
  border-color: #000;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    top: 45%;
    width: 10px;
    height: 0px;
    border-style: solid;
    border-color: inherit;
    border-top-width: 2px;
    border-radius: 5px;
  }

  &.thin {
    &::before,
    &::after {
      border-top-width: 1.5px;
    }
  }

  &.normal {
    &::before,
    &::after {
      border-top-width: 2px;
    }
  }

  &.thick {
    &::before,
    &::after {
      border-top-width: 3px;
    }

    &::before {
      left: 5.5px;
    }

    &::after {
      right: 5.5px;
    }
  }

  &::before {
    left: 4.5px;
    transform: rotateZ(-45deg) translate(0%, -50%);
  }

  &::after {
    right: 4.5px;
    transform: rotateZ(45deg) translate(0%, -50%);
  }

  &.arrow-up {
    transform: rotateX(0);
    transition: transform 0.3s;
  }

  &.arrow-right {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  &.arrow-down {
    transform: rotateX(180deg);
    transition: transform 0.3s;
  }

  &.arrow-left {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
}
