@font-face {
  font-family: "nike-tg";
  src: url(../assets/fonts/Nike-TG.woff2);
}
@font-face {
  font-family: "nike-futura";
  src: url(../assets/fonts/Nike-Futura.woff2);
}

.pi-tier3 {
  line-height: 30px;
  ul {
    list-style-type: disc;
    padding-left: 16px;
  }
}
