.rc-rate {
  .rc-rate-star {
    &.rc-rate-star-full {
      .rc-rate-star-first {
        color: #000000;
      }
      .rc-rate-star-second {
        color: #000000;
      }
    }

    &.rc-rate-star-half {
      .rc-rate-star-first {
        color: #000000;
      }
      .rc-rate-star-second {
        color: #e9e9e9;
      }
    }

    &.rc-rate-star-zero {
      .rc-rate-star-first {
        color: #e9e9e9;
      }
      .rc-rate-star-second {
        color: #e9e9e9;
      }
    }
  }
}
